
* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-gap: 1px;
    border: 3px solid black;
    border-radius: 5px;
    height: 400px;
    width: 300px;
}
.display{
    display: flex;
    flex-direction: column-reverse;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 8px;
    text-align: end;
    font-size: 32px;
    overflow: auto;
    /* height: 40px; */
}
#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.invisible{
    visibility: hidden;
}

span{
    position: relative;
    height: 10px;
    bottom: 40px;
    font-size: 24px;
}